body {
    background-color: rgb(95, 219, 235);
}

/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */
.language{
     text-align: center;
     
}
h1 {
  text-align: center;
  font-size:5em;
}
h3{
    text-align:center;
   margin-right:9em;
   font-size: 2em;  
}
.message{
    font-size: 90%;
	margin: 1em auto;
	width: 20em;
	padding: 1em;
	background-color:rgb(128, 0, 122);
	border-radius: 1em;	
}

.text{
    font-size: 90%;
	margin: 1em auto;
	width: 20em;
	padding: 2em;
	background-color:antiquewhite;
	border-radius: 1em;	
}
.button {
	margin-left: 62em;
	border: 0.25em solid green;
	padding: 1em;
	border-radius: 1em;	
	width: 15em;
}

@media screen  and (max-width:680px){
    h1{
        text-align:center;
    }

    .button{
    margin-left: 6em;
	border: 0.25em solid green;
	padding: 1em;
	border-radius: 1em;	
	width: 15em;

    }
}
